.secret-explorer {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    width: 450px;
    overflow: auto;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.main-content {
    padding-left: 450px;
}
