{
    "singleQuote": true,
    "jsxSingleQuote": true,
    "arrowParens": "avoid",
    "printWidth": 160,
    "tabWidth": 4,
    "semi": false,
    "trailingComma": "none",
    "bracketSpacing": true
}
