.secret-explorer {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    width: 450px;
    overflow: auto;
    min-width: 300px;
    border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.secret-explorer .search-bar {
    width: 84% !important;
    padding: 0 8% !important;
}

.secret-explorer i.material-icons {
    position: relative;
    top: 7px;
    margin-right: 8px;
}

.main-content {
    resize: both;
    padding-left: 450px;
}

.m-top {
    margin-top: 55px;
}

.panel-headline {
    margin-top: 0;
}

.link {
    cursor: pointer
}

.card-panel pre {
    margin-bottom: 0px;
}

.password-strength-sum {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    display: flex;
    font-size: 42px;
    font-weight: 200;
}

.password-strength-sum.red {
    color: white;
}
