.secret-explorer {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    width: 450px;
    overflow: auto;
    min-width: 300px;
    /*resize: horizontal;*/
    border-right: 1px solid rgba(0, 0, 0, 0.14);
}

.secret-explorer .search-bar {
    width: 84% !important;
    padding: 0 8% !important;
}

.secret-explorer i.material-icons {
    position: relative;
    top: 7px;
    margin-right: 8px;
}

.main-content {
    resize: both;
    padding-left: 450px;
}

.m-top {
    margin-top: 55px;
}

hr {
    border: none !important;
    height: 1px !important;
    background-color: rgba(0, 0, 0, 0.14) !important;
    margin: 40px 0;
}

textarea {
    border: 1px solid rgba(0, 0, 0, 0.14);
    resize: vertical;
    height: 10rem !important;
}
